body {
    margin: 0px;
    padding: 0px;
    color: #484848;
    font-size: 14px;
    font-family: Circular, Helvetica Neue, Helvetica, Arial, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}