header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header .logo {
    background-image: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 175px;
    height: 100%;
    margin-left: 20px;
}