<<<<<<< HEAD
/*
 * === Global style ===
 */

/* Body style */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  color: #484848;
  font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
=======

body {
    margin: 0px;
    padding: 0px;
    color: #484848;
    font-size: 14px;
    font-family: Circular, Helvetica Neue, Helvetica, Arial, sans-serif;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
>>>>>>> f6c79e28f676ee9e101f6a84d5493c9524eb1e22
