.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}

.places h1 {
    font-size: 30px;
    width: 100%;
    margin-bottom: 0px;
    padding-left: 20px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
}

.places article h2 {
    font-size: 30px;
    margin: 0px;
}